.card
    card.card__side.card__side--front
        .card__image.card__image-1(style=`background-image:url(${card.image});`)
        h4.card__heading
            span.card__heading--span= `${card.name}`
        .card__details
            ul
                li= `${card.summary}`
                li= `${card.width} x ${card.height} x ${card.depth} ${card.unit}`
                li= `${card.description}`
                li
                    | Made by 
                    strong #{card.artist}
                li
                    strong Categories:
                    - const tags = card.tags.map(el => {return '#' + el;}).join(' ');
                    |  #{tags}
    card.card__side.card__side--back
        .card__cta
            .card__price-box
                p.card__price--only Only
                p.card__price--value= `${card.price}$`
            a.btn.btn--white.btn--art(href='#', data-desc=`${card.details}`, data-img=`${card.image}`) See Description